{% include 'header.twig' %}
<body>
<script>
    $(document).ready(function() {
        app.init();
    });
</script>
<div class="ui vertical labeled icon inverted visible sidebar menu">
    <a class="{{ navigationItem == 'players' ? 'active' : '' }} item" href="/players">
        <i class="users icon"></i>
        Spieler
    </a>
    <a class="{{ navigationItem == 'scores' ? 'active' : '' }} item" href="/scores/1">
        <i class="sitemap icon"></i>
        Ergebnisse
    </a>
    <a class="item">
        <i class="trophy icon"></i>
        Rangliste
    </a>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
<div class="modals">
    {% block modals %}{% endblock %}
</div>
</body>
