{% extends 'base.twig' %}
{% block content %}
    <h2 class="ui inverted  header">
        <i class="users icon"></i>
        <div class="content">
            Team Übersicht
        </div>
    </h2>
    <div class="ui inverted segment">
        <table class="ui very basic celled inverted striped table">
            <thead>
            <tr>
                <th class="collapsing">Team Nr.</th>
                <th>Spieler A</th>
                <th>Spieler B</th>
                <th class="collapsing">Aktion</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td class="collapsing">{{ team.Id() }}</td>
                    <td><i class="user icon"></i>{{ team.firstPlayer() }}</td>
                    <td><i class="user icon"></i>{{ team.secondPlayer() }}</td>
                    <td class="collapsing"><div class="ui button" onclick="app.TeamOverviewController.showModalWithPlayer({{ team.Id() }})"><i class="edit icon"></i>Bearbeiten</div></td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot class="full-width">
            <tr>
                <th colspan="4">
                    <div class="ui left floated small primary labeled icon button" onclick="app.TeamOverviewController.showModal();">
                        <i class="add icon"></i> Team hinzufügen
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block modals %}
    <div class="ui modal" id="playerAddModal">
        <div class="header">Team hinzufügen</div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>Erster Spieler</label>
                    <input type="text" name="first-player" id="firstPlayerInput" placeholder="Name des ersten Spielers">
                </div>
                <div class="field">
                    <label>Zweiter Spieler</label>
                    <input type="text" name="second player" id="secondPlayerInput" placeholder="Name des zweiten Spielers">
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui blue left labeled icon button create" onclick="app.TeamOverviewController.createTeam();"><i class="checkmark icon"></i>Speichern</div>
        </div>
    </div>
{% endblock %}