body {
    background: #000000;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 25px;
}

.content {

}

#tableScoreGrid .segment {
    min-height: 194px;
}

#tableScoreGrid .result-add.button,
#tableScoreGrid .result-reset.button {
    float: right;
    display: block;
    margin-top: -42px;
    margin-right: -4px;
}

#scoreAddModal td.team-id input {
    width: 93px;
}

#scoreAddModal td.points input {
    width: 80px;
}

#rankGrid .table td {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

#rankGrid {
    height: 91%;
    overflow: hidden;
}